.ul-content {
    display: none;
    user-select: none;
    // cursor: default;
    color: rgb(136, 133, 133);
    border: 1px solid transparent;
    border-right-color: #5062c2;
    border-bottom-color: #5062c2;
    border-radius: 3px;
    z-index: 1;
    background: linear-gradient(145deg, #ffffff, #adadb1);
    position: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #ccc;
    li {
      font-size: 12px;
      list-style: none;
      padding: 6px 9px;
      &:first-child {
        border-bottom: 1px solid #ccc;
      }
      &:hover {
        color: rgb(117, 113, 113);
        list-style: none;
        background-color: rgba(37, 36, 36, 0.09);
      }
    }
  }
  .draggable-container {
    cursor: grabbing;
    overflow: hidden;
    border: 1px solid rgb(119, 119, 118);
    font-size: 0;
    .vdr.active:before {
      border: 1px dotted #000;
    }
    img {
      width: 100%;
      display: block;
      vertical-align: middle;
    }
    // width: 260px;
    // height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    box-sizing: border-box;
  }